@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply block
    w-full
    px-5
    py-2
    rounded-lg
    transform
    transition
    bg-brand
    hover:bg-brand-light hover:-translate-y-0.5
    focus:ring-brand-light
    focus:ring-opacity-50
    focus:outline-none
    focus:ring
    focus:ring-offset-2
    active:bg-brand-dark
    tracking-wider
    shadow-lg;
  }
  .todo-container {
    @apply rounded-lg
    px-3
    bg-gradient-to-b
    from-primary-dark
    via-primary
    to-primary-light;
  }
  .todo {
    @apply flex flex-col
    bg-white
    rounded-lg
    my-3
    p-3
    select-none
    shadow-xl
    /* hover:animate-bounce */
    cursor-grabbing;
  }
  .todo-header {
    @apply flex flex-row
    justify-between
    items-center
    py-2;
  }

  .person-icon {
    @apply bg-notify
    inline-block
    w-9
    h-9
    text-center
    leading-8
    border-2
    border-white
    border-solid
    rounded-full;
  }
  .dragging {
    @apply transition-all origin-center transform rotate-45;
  }

  .notify-status {
    @apply animate-pulse
    relative
    bottom-0.5
    inline-flex
    rounded-full
    h-2
    w-2;
  }
}
